body {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
}

:root {
    /*LIGHT MODE */
    --primary-font: "Poppins", sans-serif;
    --primary-bg-color: #ffffff;
    --primary-text-color: #000000;
    --secondary-color: #575757;
    --btn-bg-color: #2196f3;
    --cta-hover-color: #167bce;
    --btn-bg-light: #eeeeee;

    /* DARK MODE */
    --dark-primary-bg-color: #222222;
    --dark-primary-text-color: #ffffff;
    --dark-secondary-color: #a2a2a2;
    --dark-btn-bg-color: #1e88e5;
    --dark-cta-hover-color: #0d5e8c;
    --dark-btn-bg-light: #eeeeee;

}

.dark-theme{
    --primary-bg-color: var(--dark-primary-bg-color);
    --primary-text-color: var(--dark-primary-text-color);
    --secondary-color: var(--dark-secondary-color);
    --btn-bg-color: var(--dark-btn-bg-color);
    --cta-hover-color: var(--dark-cta-hover-color);
    --btn-bg-light: var(--dark-btn-bg-light);
}

/* NAVBAR STYLE */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.navbar img{
    width: 2.5em;
    margin-left: 1rem;
}

.about--me{
    justify-content: center;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    width: 15rem;
    border-radius: 20%;
    /* box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4); */
    box-shadow: 1px 1px 1rem var(--primary-text-color)
}

#toggleTheme{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

/* ABOUT ME CONTENT */


.about--me--content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.article, p, h2{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-weight: 400;
}

.about--me--content article{
   display: flex;
   flex-direction: column;
   text-align: justify;
   margin: 1rem 1rem 1rem 1rem;
}



