body {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
}

:root {
    /*LIGHT MODE */
    --primary-font: "Poppins", sans-serif;
    --primary-bg-color: #ffffff;
    --primary-text-color: #000000;
    --secondary-color: #575757;
    --btn-bg-color: #2196f3;
    --cta-hover-color: #167bce;
    --btn-bg-light: #eeeeee;

    /* DARK MODE */
    --dark-primary-bg-color: #222222;
    --dark-primary-text-color: #ffffff;
    --dark-secondary-color: #a2a2a2;
    --dark-btn-bg-color: #1e88e5;
    --dark-cta-hover-color: #0d5e8c;
    --dark-btn-bg-light: #eeeeee;

}

.dark-theme{
    --primary-bg-color: var(--dark-primary-bg-color);
    --primary-text-color: var(--dark-primary-text-color);
    --secondary-color: var(--dark-secondary-color);
    --btn-bg-color: var(--dark-btn-bg-color);
    --cta-hover-color: var(--dark-cta-hover-color);
    --btn-bg-light: var(--dark-btn-bg-light);
}

/* NAVBAR STYLE */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.navbar img{
    width: 2.5em;
    margin-left: 1rem;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    width: 15rem;
    border-radius: 20%;
    /* box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4); */
    box-shadow: 1px 1px 1rem var(--primary-text-color)
}

#toggleTheme{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;

}

.title h2{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 2rem;
}

.formulaire{
    display: flex;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

#nom{
    margin-bottom: 1rem;
    height: 2rem;
    width: 97.5%;
}

#email{
    margin-bottom: 1rem;
    height: 2rem;
    width: 97.5%;
}

#occasionlabel{
    margin-bottom: 0.2rem;
}

#occasion{
    height: 2.2rem;
    width: 97.5%;
    margin-bottom: 1rem;
}
#choix-pack{
    margin-bottom: 0.2rem;
}

#choix{
    width: 97.5%;
    height: 2.2rem;
    margin-bottom: 1rem;
}

#message{
    width: 97.5%;
    height: 15rem;
}



/* Style global pour le formulaire */
form {
    width: 17rem;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les champs de saisie */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

/* Style pour les étiquettes flottantes */

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: var(--btn-bg-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--cta-hover-color);
}

input[placeholder]{
    font-family: var(--primary-font);
}

label{
    font-family: var(--primary-font);
}

option{
    font-family: var(--primary-font);
}
